.card {
    --bs-card-spacer-x: 0; /* Убираем горизонтальные отступы */
    --bs-card-spacer-y: 0; /* Убираем вертикальные отступы */
    padding: 0; /* Гарантируем отсутствие внутренних отступов */
    margin: 0; /* Убираем внешние отступы */
}