/* Объединенный стиль для discovererCard.css и discovererList.css */
.card * {
    --bs-card-spacer-x: 0; /* Убираем горизонтальные отступы */
    --bs-card-spacer-y: 0; /* Убираем вертикальные отступы */
    margin: 0;
    padding: 0;
    line-height: 1;
    text-align: center
    /* background-color: #2D3549; */
}

.content {
    
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    min-width: 800px;
    background-color: #2D3549;
    
}

/* Общие стили для карточки */
.card {
    width: 240px;
    height: 450px;
    background-color: #739263; /* Цвет фона */
    border-radius: 15px; /* Одинаковое скругление углов */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #ffffff; /* Цвет текста */
    transition: transform 0.3s, box-shadow 0.3s; /* Общая анимация */
    border: 2px solid #004080; /* Общая рамка */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 10px;
    padding: 10px;
    
}



/* Стили для изображений */
.cardImage {
    width: 100%;
    height: 200px; /* Установленная высота изображения */
    object-fit: cover;
    display: block;
    margin: 0; /* Убираем внешний отступ */
    padding: 0; /* Убираем внутренний отступ */
    border-bottom: 2px solid #ffffff; /* Белая линия под изображением */
}
.cardTitle {
    width:238px;
}
/* Стили для заголовка и текста */
.card-header, .titleStyle {
    white-space: nowrap; 
    background-color: #F7F1D2;
    height: 40px;
    width: 238px;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-family: "Alegreya", serif;
    font-weight: bold;
    box-sizing: border-box; 
    margin: 0; /* Убираем внешний отступ */
    padding: 0; /* Убираем внутренний отступ */
}

.card, .textName {
    background-color: #739263;
    font-family: "Alegreya", serif;
    margin: 0; /* Убираем внешний отступ */
    padding: 0; /* Убираем внутренний отступ */
}
.textStyle, .card-body {
     padding: 10px; 
    background-color: #739263;
    font-weight: bold;
    font-size: 14px;
    color: #ffffff;
}

/* Кнопка в карточке */
.cardButton {
    background-color: #607848;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.cardButton:hover {
    background-color: #4a6d3b;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

